@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: auto;
    font-family: 'Be Vietnam Pro', sans-serif;

}

/*to declare css of root element, html*/
:root {
    background: beige;
}

header li,
a,
button {
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 5px 40px 5px 40px;
    z-index: 100000;
    background-color: beige;
    list-style: none;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    transition: 0.5s;
}

.nav_links li {
    display: inline-block;
    padding: 0px 10px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: red;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.5);
}

#header img {
    width: 90px;
    height: auto;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

/* FOOTER */
.bg-footer {
    width: 90%;
    margin: 0px auto;
}

.bg-footer .footer-flex {
    display: flex;
    justify-content: space-between;
    grid-row-gap: 20px;
    flex-wrap: wrap;
    margin: 15px 0px;
}

.bg-footer .footer-flex .footer1 {
    width: 24%;

}

.footer-flex .footer1 h2 {
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.footer-flex .footer1 section {
    font-size: 14px;
}

.footer-flex .footer1 li {
    font-size: 14px;
}

.footer-flex .footer1 li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}

.footer-flex .footer1 .footer-logo {
    margin-top: 30px;
}

.footer1 .footer-logo img {
    width: 100%;
}

.bg-footer hr {
    background: #f9f9f9;
    margin: 15px 0px;
    height: 1px;
    width: 100%;
}

.bg-footer .copy {
    margin: 15px 0px;
    text-align: center;
}

.bg-footer .copy section {
    font-size: 14px;
    text-transform: capitalize;
}

.bg-footer .copy span {
    font-weight: bold;
    color: var(--main-color);
}

/*design------------BLOGS SECTION------------*/
section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.design {
    /*width: 90%;*/
    margin: 0px 60px;
}

.read {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.read p {
    padding: 10px 0px;
    font-style: italic;
    color: white;
    background-color: #6759ff;
    width: 50%;

}

.read p:hover {
    cursor: pointer;
    background-color: #4536e5;
}

.title {
    text-align: center;
}

.title h2 {
    font-size: 2vw;
    padding-top: 100px;
}

.title p {
    text-transform: uppercase;
    padding: 0.6rem 0;
}

.design-content {
    margin: 2rem 0;
}

.design .design-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.design-item {
    margin: 1.5rem 0;
}

.design-img {
    position: relative;
    overflow: hidden;
}

.design-img:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.1);
}

.design-img img {
    transition: all 0.8s ease;
}

.design-img:hover img {
    transform: scale(1.2);
    cursor: all-scroll;
}

.design-title {
    padding: 1rem;
    font-size: auto;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.design-title a {
    color: var(--dark);
    text-decoration: none;
    text-transform: capitalize;
}

/* Blog post */

.blog-post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.blog-post-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block: 1.5rem;
}

.blog-post-title {
    font-size: 3vw;
    padding: 50px 0px 20px;
}

.blog-post-data .article-data {
    margin-bottom: 2.5rem;
}

.blog-post-data img {
    width: 80%;
    height: auto;
    object-fit: cover;
    object-position: center 10%;
}

.blog-post-container .container {
    width: 70%;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.container {
    line-height: 1.8;
}

.container a {
    color: #4536e5;
}

/* ROOM PAGE --- FILTER ----------------------------------------*/
#rooms {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px auto;
}

#room-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#room-list li {
    list-style: none;
    padding: 12px 20px;
    margin: 20px 10px;
    letter-spacing: 1px;
    cursor: pointer;
}

#room-list li.active {
    background: #6759ff;
    color: white;
}

.room-product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.room-product .itemBox {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;
    display: block;
}

.room-product .itemBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.room-product .itemBox.hide {
    display: none;

}

/*--------------CONTACT FORM---------------------*/

form {
    width: 800px;
    margin: 40px auto;
    max-width: 97%;
    border-radius: 4px;
    padding: 5px 20px;
}

form .title h2 {
    letter-spacing: 6px;
    border-bottom: 1px solid black;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 32px;
}

form .half {
    display: flex;
    justify-content: space-between;
}

form .half .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 50%;
}

form label {
    display: block;
    font-size: 13px;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 16px;
}

form .half .item input {
    border-radius: 4px;
    border: 1px solid black;
    outline: 0;
    padding: 0px;
    width: 100%;
    height: 44px;
    background: transparent;
    font-size: 17px;
}

form .full {
    margin-top: 20px;
    margin-bottom: 24px;
}

form .full textarea {
    background: transparent;
    border-radius: 4px;
    border: 1px solid black;
    outline: 0;
    padding: 12px 16px;
    width: 100%;
    height: 200px;
    font-size: 17px;
}

form .action {
    margin-bottom: 32px;
    text-align: center;
}

#form-button {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid black;
    letter-spacing: 3px;
    font-size: 12pt;
    background-color: white;

    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

#form-button:hover {
    background-color: #000;
    color: white;
}

#form-button:active {
    transform: scale(0.9);
}

/*-------------------------------------------------*/

/* ABOUT SECTION----------------------------------*/
.about-sec {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.about-row {
    width: 100%;
    padding: 50px 100px;
}

.about-img {
    width: 30%;
    float: left;
}

.about-img img {
    margin-top: 50px;
    width: 100%;
    height: auto;
}

.about-content {
    float: left;
    width: 60%;
    margin-left: 50px;
    margin-top: 50px;
}

.about-content h1 {
    font-size: 60px;
}

.about-content p {
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.5;
}